<ion-content padding class="contentbg"> 
  <h1>website admin</h1>
     <ion-item>
        <ion-row>
            <ion-col width-100 style="margin-top:8px">
                <div *ngIf="auth | async">You are logged in as {{authInfo && authInfo.displayName}} <ion-buttons end>
                    <button (click)="logoutClicked()">
                        <ion-icon name="contact"></ion-icon>
                        Logout
                    </button>
                    <button (click)="goBack()">edit pages</button> 
             </ion-buttons>
            </div>
                <div *ngIf="!(auth | async)" class="login">Please log in
                <button (click)="displayLoginModal()">Log In</button>
                <button (click)="goBack()">home</button> 
                </div>
            </ion-col>
        </ion-row>
    </ion-item>
  <div *ngIf="auth | async">
        <h2>add a new post</h2>
        <ion-item>
                <input type="text" size="35" [(ngModel)]="img" block placeholder="Img"><br>
                <input type="text" size="35" [(ngModel)]="img1" block placeholder="Img1"><br>
                <input type="text" size="35" [(ngModel)]="img2" block placeholder="Img2"><br>
                <input type="text" size="35" [(ngModel)]="img3" block placeholder="Img3"><br>
                <input type="text" size="35" [(ngModel)]="id" block placeholder="Id"><br>
                <input type="text" size="35" [(ngModel)]="date" block placeholder="Date"><br>
                <input type="text" size="35" [(ngModel)]="title" block placeholder="Title"><br>
                <textarea type="text" [(ngModel)]="entry1" rows="6" cols="35" placeholder="Entry1"></textarea><br>
                <textarea type="text" [(ngModel)]="entry2" rows="6" cols="35" placeholder="Entry2"></textarea><br>
                <textarea type="text" [(ngModel)]="excerpt" rows="6" cols="35" placeholder="Excerpt"></textarea><br>
                <button (click)="add(id, date, title, entry1, entry2, excerpt, img, img1, img2, img3)">Add Post</button>
        </ion-item>
        <hr>
   <ul>
   <li *ngFor="let post of posts | async">
       <h2>{{post.id}} | {{post.date}} | {{post.title}}</h2> <br>
       <p>{{post.entry1}}<br>
        <br>{{post.entry2}}<br><hr><strong>EXCERPT: </strong>{{post.excerpt}} <br><img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img}}" width="150px"/> {{post.img}}
       <br> <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img1}}" width="150px"/> {{post.img1}}
       <br> <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img2}}" width="150px"/> {{post.img2}}
       <br> <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img3}}" width="150px"/> {{post.img3}}
       </p>
        <input type="text" #updateimg [(ngModel)]="post.img" size="35"/><br>
        <button (click)="updateImg(post.$key, updateimg.value)">Update Img</button><br><br>
        <input type="text" #updateimg1 [(ngModel)]="post.img1" size="35"/><br>
        <button (click)="updateImg1(post.$key, updateimg1.value)">Update Img 1</button><br><br>
        <input type="text" #updateimg2 [(ngModel)]="post.img2" size="35"/><br>
        <button (click)="updateImg2(post.$key, updateimg2.value)">Update Img 2</button><br><br>
        <input type="text" #updateimg3 [(ngModel)]="post.img3" size="35"/><br>
        <button (click)="updateImg3(post.$key, updateimg3.value)">Update Img 3</button><br><br>
        <input type="text" #updateid size="35" [(ngModel)]="post.id"/><br>
        <button (click)="updateId(post.$key, updateid.value)">Update Id</button><br><br>
        <input type="text" #updatedate size="35" [(ngModel)]="post.date"/><br>
        <button (click)="updateDate(post.$key, updatedate.value)">Update Date</button><br><br>
        <input type="text" #updatetitle size="35" [(ngModel)]="post.title"/><br>
        <button (click)="updateTitle(post.$key, updatetitle.value)">Update Title</button><br><br>
        <textarea type="text" #updateentry1 rows="6" cols="35" [(ngModel)]="post.entry1" ></textarea><br>
        <button (click)="updateEntry1(post.$key, updateentry1.value)">Update Entry 1</button><br>
        <textarea type="text" #updateentry2 rows="6" cols="35" [(ngModel)]="post.entry2"></textarea><br>
        <button (click)="updateEntry2 (post.$key, updateentry2.value)">Update Entry 2</button><br>
        <textarea type="text" #updateexcerpt rows="6" cols="35" [(ngModel)]="post.excerpt"></textarea><br>
        <button (click)="updateExcerpt (post.$key, updateexcerpt.value)">Update Excerpt</button>
        <button (click)="deletePost(post.$key)">Delete Post</button>
        </li>
        </ul>
  </div>
   <!--<ul *ngFor="let post of posts | async">
       <li class="blog-item">
           <h2 class="p-title">{{post.title}}</h2>
           <p>{{post.text}}</p>
       </li>
   </ul>-->
</ion-content>
