<ion-navbar *navbar light>
</ion-navbar>

<ion-content padding class="contentbg">
   <div *ngFor="let service of services | async">
            <img src="{{service.img}}"/>
            <h1>{{service.title}}</h1>
            <p>{{service.text}}</p>
    </div>
  <ion-list *ngIf="auth | async">
        <ion-item *ngFor="let service of services | async">
       <h3><img src="{{service.img}}" width="150px"/>{{service.title}} | {{service.text}} | {{service.img}}</h3>
       <input type="text" #updateimg [(ngModel)]="service.img" size="35"/><br>
        <button (click)="updateImg(service.$key, updateimg.value)">Update Img</button><br><br>
         <input type="text" #updatetitle [(ngModel)]="service.title" size="35"/><br>
        <button (click)="updateTitle(service.$key, updatetitle.value)">Update TItle</button><br><br>
        <textarea type="text" #updatetext [(ngModel)]="service.text" rows="6" cols="35"></textarea><br>
        <button (click)="updateText(service.$key, updatetext.value)">Update Entry</button>
        <button (click)="deleteService(service.$key)">Delete Entry</button>
        </ion-item>
        <ion-item>
                <input type="text" size="35" [(ngModel)]="img" block placeholder="Img"><br>
                 <input type="text" size="35" [(ngModel)]="title" block placeholder="Title"><br>
                <textarea type="text" [(ngModel)]="text" rows="6" cols="35" placeholder="Entry"></textarea><br>
                <button (click)="add(title,text,img)">Add Service</button>
        </ion-item>
    </ion-list>
</ion-content>
