<ion-navbar *navbar primary>
  <ion-title>{{post.title}}</ion-title>
</ion-navbar>

<ion-content *ngIf="post" padding class="contentbg">
   <ion-slides #pageslider pager>
     <ion-slide>
        <img class="arrow prev" src="../../img/arrowleft.png" (click)="viewPrev()"/>
       <img class="arrow next" src="../../img/arrowright.png" (click)="viewNext()"/>
          <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img}}" />
     </ion-slide>
    <ion-slide>
       <img class="arrow prev" src="../../img/arrowleft.png" (click)="viewPrev()"/>
       <img class="arrow next" src="../../img/arrowright.png" (click)="viewNext()"/>
          <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img1}}" />
     </ion-slide>
      <ion-slide>
       <img class="arrow prev" src="../../img/arrowleft.png" (click)="viewPrev()"/>
       <img class="arrow next" src="../../img/arrowright.png" (click)="viewNext()"/>
          <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img2}}" />
     </ion-slide>
      <ion-slide>
       <img class="arrow prev" src="../../img/arrowleft.png" (click)="viewPrev()"/>
       <img class="arrow next" src="../../img/arrowright.png" (click)="viewNext()"/>
          <img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img3}}" />
     </ion-slide>
  </ion-slides>
  <h2>{{post.title}}</h2>
  <p>{{post.date}}</p>
  <p>{{post.entry1}}</p>
  <p>{{post.entry2}}</p>
  <!--<button (click)="goBack()">Go Back</button>-->
</ion-content>
