@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100,500,700);

$colors: (
  primary:    #000,
  light:      #5e5e5d,
  dark:       #000,
  favorite:   #69BB7B,
  danger:   #f53d3d
);

$break-small: 600px;
$break-large: 768px;
$break-sm: 601px;

.wrapper{
  width: 1000px;
  min-height: 800px;  
}

input[type=text] {
    padding: 8px 5px;
    color: #333;
    border: 2px solid #5e5e5d;
    margin-bottom: 10px;
    width: 80%;
}

input[type=password] {
    padding: 8px 5px;
    color: #333;
    border: 2px solid #5e5e5d;
    margin-bottom: 10px;
    width: 80%;
}

.button{
  background: #e3c800;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #F6F6F6;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: $break-small) {
      font-size: .7 em;
   }

   @media (max-width: $break-large) and (min-width: $break-sm){

   }
}

textarea{
   border: 2px solid #5e5e5d;
   width: 80%;
   color: #000;
}

.login {
  margin-left: -40px;
}

.contentbg{
    color: #444;
    background: #000;
    overflow: scroll;

   h1{
      font-size: 50px;
      color: #e3c800;
      font-family: 'Lato', sans-serif;
      font-weight: 300;

      @media (max-width: $break-small) {
        font-size: 20px;
        }

      @media (max-width: $break-large) and (min-width: $break-sm){
          font-size: 30px;
       }
    }

    h2{
      font-size: 30px;
      color: #e3c800;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;

      @media (max-width: $break-small) {
        font-size: 18px;
      }

      @media (max-width: $break-large) and (min-width: $break-sm){
        font-size: 25px;
      }
    }
   
    p{
      color: #5e5e5d;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      overflow-wrap: break-word;

     @media (max-width: $break-small) {
        font-size: 14px;
      }

    @media (max-width: $break-large) and (min-width: $break-sm){
        font-size: 22px;
      }
    }

    ul li{
      list-style: none;
      margin-bottom: 10px;
    }

   .point{
     cursor: pointer;
    //  border-bottom: 1px solid #444;
     padding-top: 10px;
   }
}

.contentbg_dk{
    color: #444;
    background: #000;

   h1{
      font-size: 50px;
      color: #F6F6F6;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }

    h2{
      font-size: 30px;
      color: #e3c800;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }
   
    p{
      color: #444;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;

    }

   .point{
     cursor: pointer;
   }
}

.blog-item{
  background: #000;
  color: #fff; 
  list-style-type: none;
  margin-top: -10;
}

.p-title{
    font-size: 24px;
    color:#e3c800;
  }

ion-card {
    position: relative;
    text-align: center;
  }
   
.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #e3c800;
  }

.card-subtitle {
    position:absolute;
    font-size: 1.0em;
    top: 52%;
    width: 100%;
    color: #e3c800;
  }

.tab-button-text{
    color: #F6F6F6;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 20px;

    @media (max-width: $break-small) {
        font-size: 12px;
      }
}

.arrow.prev{
	z-index:4;
	position:absolute;
	left:20px;
	height:60px;
	cursor: pointer;
	margin-top:20%;

  @media (max-width: $break-small) {
      display: none;
   }

  @media (max-width: $break-large) and (min-width: $break-sm){
      height: 30px;
   }
}

.arrow.next{
	z-index:4;
	position:absolute;
	right:20px;
	height:60px;
	cursor: pointer;
	margin-top:20%;

  @media (max-width: $break-small) {
      display: none;
   }

  @media (max-width: $break-large) and (min-width: $break-sm){
      height: 30px;
   }
}

.arrow.mprev{
	z-index:4;
	position:absolute;
	width:40px;
	height:40px;
	background:#000;
	margin-top:20%;
	left:20px;
}

.arrow.mnext{
	z-index:4;
	position:absolute;
	width:40px;
	height:40px;
	background: #000;
	margin-top:20%;
	right:20px;
}

.slide{
  width: 100%;
  height: 300px;
  font-family: 'Roboto', sans-serif;
  color: #F6F6F6;
  background: #000;
  // background-image: url("../../img/camera.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: top;
  // background-size: cover;
  text-shadow: 1px 1px 2px #000;
  text-align: center;

   @media (max-width: $break-small) {
      height: 160px;
    }

   @media (max-width: $break-large) and (min-width: $break-sm){
      height: 200px;
    }

  h1{
    font-size: 80px;
    color: #e3c800;
    padding-top:70px;
    padding-left: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;

   @media (max-width: $break-small) {
      font-size: 40px;
      padding-top:15px;
    }

   @media (max-width: $break-large) and (min-width: $break-sm){
      font-size: 50px;
    }
  }

  h3{
    font-size: 30px;
    color: #F6F6F6;
    font-family: Roboto, sans-serif;
    font-weight: 300;
   text-align: left;
   padding-left: 40px;

   @media (max-width: $break-small) {
      font-size: 14px;
    }

   @media (max-width: $break-large) and (min-width: $break-sm){
      font-size: 25px;
    }
  }
}

.slide1{
  width: 100%;
  height: 300px;
  font-family: "Lato", sans-serif;
  font-weight: 100px;
  color: #F6F6F6;
  background: #000;
  // background-image: url("../../img/camera.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: bottom;
  // background-size: cover;
  // text-shadow: 1px 1px 2px #000;
  // text-align: center;

  @media (max-width: $break-small) {
       height: 120px;
    }

    @media (max-width: $break-large) and (min-width: $break-sm){
      height: 200px;
    }

  h1{
    font-size: 60px;
    color: #e3c800;
    padding-top:20px;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    @media (max-width: $break-small) {
      font-size: 20px;
      padding-left:10px;
    }

   @media (max-width: $break-large) and (min-width: $break-sm){
      font-size: 30px;
    }
  }
}

.slide2{
  width: 100%;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  color: #F6F6F6;
  background-image: url("../../img/camera.jpg");
   background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-shadow: 1px 1px 2px #000;
  text-align: center;

  @media (max-width: $break-small) {
     height: 160px;
   }

  @media (max-width: $break-large) and (min-width: $break-sm){
    height:200px;
  }
  h1{
      font-size: 70px;
      color: #F6F6F6;
      padding-top:100px;
      font-family: Lato, sans-serif;
      font-weight: 400;

     @media (max-width: $break-small) {
      font-size: 20px;
      padding-top: 30px;
     }

    @media (max-width: $break-large) and (min-width: $break-sm){
      font-size: 30px;
    }
  }
}

.slide3{
  width: 100%;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  color: #F6F6F6;
  background-image: url("../../img/camera.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
 
  @media (max-width: $break-small) {
       display: none;
  }

  @media (max-width: $break-large) and (min-width: $break-sm){
      height: 300px;
      background-image: url("../../img/camerard.jpg");
  }

  h1{
    font-size: 70px;
    color: #F6F6F6;
    padding-top:100px;
    font-family: Lato, sans-serif;
    font-weight: 400;

    @media (max-width: $break-small) {
      font-size: 20px;
      padding-top:10px;
    }

   @media (max-width: $break-large) and (min-width: $break-sm){
      font-size: 30px;
    }
  }
}

.foottext{
  color: #5e5e5d;
}

.footicons{
  color: #5e5e5d;
  @media (max-width: $break-small) {
      display: none;
    }
  @media (max-width: $break-large) and (min-width: $break-sm){
      display: none;
    }
}