
@import 'app.variables';
@import 'ionic.md';
@import 'app.core';

.tab-button{
  border-bottom: 2px solid #333;  
}

.button{
  background: #e3c800;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #F6F6F6;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.item {
  background: #000;
  border: none;

  h2{
    font-size: 25px;
  }

  p{
    font-size: 20px;
    overflow-x: visible;
  }
}

.item-inner{
  border: none;
}

textarea{
   border: 2px solid #5e5e5d;
   width: 80%;
   color: #000;
}

ion-slides{
  height: auto;
}

ion-navbar-section{
  display: none;
}

.tab-button-text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: lowercase;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #f6f6f6;
    opacity: .9;
}

.swiper-pagination-bullet-active{
  background: #444;
}

.swiper-wrapper {
  @media (max-width: $break-small) {
    width: 100%;
    height: 50%;
    }
}