
@import 'app.variables';
@import 'ionic.ios';
@import 'app.core';

ion-navbar-section{
  display: none;
}

.tab-button-text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: lowercase;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #e5cc44;
    opacity: .9;
}

.swiper-pagination-bullet-active{
  background: #444;
}
