<ion-navbar *navbar light>
</ion-navbar>

<ion-content padding class="contentbg">
  <div *ngFor="let contact of contacts | async">
            <img src="{{contact.img}}"/>
            <h1>{{contact.title}}</h1>
            <p>{{contact.text}}</p>
            <p>  <a href="http://www.twitter.com/mlkingh" target="_blank"><img src="../../img/twitterlogo.png" width="50px"/></a>&nbsp; &nbsp; <a href="http://www.linkedin.com/in/mlkingh" target="_blank"><img src="../../img/linkedinlogo.png" width="50px"/></a></p>
    </div>
  <ion-list *ngIf="auth | async">
        <ion-item *ngFor="let contact of contacts | async">
       <h3><img src="{{contact.img}}" width="150px"/> | {{contact.title}} | {{contact.text}} | {{contact.img}}</h3>
        <input type="text" #updateimg [(ngModel)]="contact.img" size="35"/><br>
        <button (click)="updateImg(contact.$key, updateimg.value)">Update Img</button><br><br>
         <input type="text" #updatetitle [(ngModel)]="contact.title" size="35"/><br>
        <button (click)="updateTitle(contact.$key, updatetitle.value)">Update TItle</button><br><br>
        <textarea type="text" #updatetext [(ngModel)]="contact.text" rows="6" cols="35"></textarea><br>
        <button (click)="updateText(contact.$key, updatetext.value)">Update Entry</button>
        <button (click)="deleteContact(contact.$key)">Delete Entry</button>
        </ion-item>
        <ion-item>
              <input type="text" size="35" [(ngModel)]="img" block placeholder="Img"><br>
              <input type="text" size="35" [(ngModel)]="title" block placeholder="Title"><br>
                <textarea type="text" [(ngModel)]="text" rows="6" cols="35" placeholder="Entry"></textarea><br>
                <button (click)="add(title,text, img)">Add Contact</button>
        </ion-item>
    </ion-list>
</ion-content>
