<ion-navbar *navbar light>
</ion-navbar>

<ion-content padding class="contentbg">
     <div *ngFor="let about of abouts | async">
           <img src="{{about.img}}"/>
            <h1>{{about.title}}</h1>
            <p>{{about.text}}</p>
    </div>
   <ion-list *ngIf="auth | async">
        <ion-item *ngFor="let about of abouts | async">
       <h3><img src="{{about.img}}" width="150px"/> | {{about.title}} | {{about.text}} | {{about.img}}</h3>
       <input type="text" #updateimg [(ngModel)]="about.img" size="35"/><br>
        <button (click)="updateImg(about.$key, updateimg.value)">Update Img</button><br><br>
        <input type="text" #updatetitle [(ngModel)]="about.title" size="35"/><br>
        <button (click)="updateTitle(about.$key, updatetitle.value)">Update TItle</button><br><br>
        <textarea type="text" #updatetext [(ngModel)]="about.text" rows="6" cols="35"></textarea><br>
        <button (click)="updateText(about.$key, updatetext.value)">Update Entry</button>
        <button (click)="deleteAbout(about.$key)">Delete Entry</button>
        </ion-item>
        <ion-item>
                <input type="text" size="35" [(ngModel)]="img" block placeholder="Img"><br>
                 <input type="text" size="35" [(ngModel)]="title" block placeholder="Title"><br>
                <textarea type="text" [(ngModel)]="text" rows="6" cols="35" placeholder="Entry"></textarea><br>
                <button (click)="add(title,text,img)">Add About</button>
        </ion-item>
    </ion-list>
</ion-content>
