<!--<ion-navbar *navbar light>
</ion-navbar>-->

<ion-content class="contentbg">
<div class="slide">
  <ion-row center>
 <ion-col width-75>
  <h1>@mlkingh</h1>
  <h3>my life | travel | tech | music | art </h3>  
  </ion-col>
  <ion-col width-25>
  <a href="http://www.twitter.com/mlkingh" target="_blank"><img src="../../img/twitterlogo.png" width="50px"/></a>&nbsp; &nbsp; <a href="http://www.linkedin.com/in/mlkingh" target="_blank"><img src="../../img/linkedinlogo.png" width="50px"/></a>
  </ion-col>
  </ion-row>
</div>
<div class="slide2"><h1>Life is Faith, Family, Passions, Hard Work</h1></div>
<div class="slide1">
  <h1>i am a husband, blogger, mobile app & digital innovator, gadget aficionado, musician, artist, traveler and advocate for social good...</h1>
</div>
<div class="slide3"><h1>Live. Laugh. Love. Travel. Give.</h1></div>
</ion-content>
<ion-toolbar position="bottom" primary>
   <button (click)="goLogin()">admin</button> <span class="foottext">&nbsp; &nbsp;  &copy; 2016 Martin L. K. Hodges </span><span class="footicons">| powered by: <img src="../../img/firebase.png" height="20px"/> &nbsp; &nbsp; <img src="../../img/ioniclogo.png " height="20px"/> &nbsp; &nbsp; <img src="../../img/aws-white.png " height="20px"/></span>

</ion-toolbar>