<ion-navbar *navbar light>
</ion-navbar>

<ion-content padding class="contentbg_dk">
        <ion-slides #pageslider pager>
              <ion-slide *ngFor="let image of images | async">
             <!-- prev / next controls -->
              <img class="arrow prev" src="../../img/arrowleft.png" (click)="viewPrev()"/>
              <img class="arrow next" src="../../img/arrowright.png" (click)="viewNext()"/>
                    <img src="{{image.img}}"/>
              </ion-slide>
        </ion-slides>
        <!--<div class="thumbgal">
            <img *ngFor="let image of images | async" src="{{image.img}}" width="150px" class="thumbpic" (click)="viewImage()"/>
        </div>-->
   <ion-list *ngIf="auth | async">
        <ion-item *ngFor="let image of images | async">
       <img src="{{image.img}}" width="150px"/>
       {{image.img}}<br>
       <input type="text" #updateimg placeholder="Update Img" size="35"/><br>
        <button (click)="updateImg(image.$key, updateimg.value)">Update Img</button><br>
        <button (click)="deleteImage(image.$key)">Delete Entry</button>
        </ion-item>
        <ion-item>
                <input type="text" size="35" [(ngModel)]="img" block placeholder="Img"><br>
                <button (click)="add(img)">Add Img</button>
        </ion-item>
    </ion-list>
</ion-content>
