<ion-tabs primary>
  <ion-tab [root]="tab1Root" tabTitle="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="my life"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="my work"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="social"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="blog"></ion-tab>
  <!--<ion-tab [root]="tab6Root" tabTitle="gallery"></ion-tab>-->
  <!--<ion-tab [root]="tab7Root" tabTitle="admin"></ion-tab>-->
</ion-tabs>
