<ion-navbar *navbar>
  <ion-title>Blog Entries</ion-title>
</ion-navbar>

<ion-content padding class="contentbg">
    <div *ngFor="let post of posts"  (click)="selectPost(post)" class="point">
      <!--<ion-row>
      <ion-col width-10><img src="https://s3.amazonaws.com/mlkinghweb/images/{{post.img}}" width="150px"/></ion-col>
      <ion-col width-90>-->
      <h2>{{post.date}} | {{post.title}}</h2>
      <!--<p>{{post.excerpt}}</p>-->
      <!--</ion-col>
      </ion-row>-->
    </div>
</ion-content>