<ion-content padding class="contentbg">
    <h1>User Login</h1>
    <form #loginCreds="ngForm">
        <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" ngControl="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" ngControl="password"></ion-input>
        </ion-item>

        <div padding>
            <button block (click)="login(loginCreds.value, $event)">Login</button>
            <button (click)="dismiss()" block>cancel</button>
            <!--<button block (click)="registerUser(loginCreds.value, $event)">Create Account</button>-->
         </div>        
        <!--<div padding>
            <button block (click)="registerUserWithGoogle(loginCreds.value, $event)">Connect with Google</button>
        </div>-->
        <div padding>
            <p *ngIf="error" class="error">Error:&nbsp;{{ error.code }}</p>
        </div>
    </form>
</ion-content>